<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gofun.mapper.myGoFunTest.CardOcrCompanyExtendMapper" >
  <resultMap id="BaseResultMap" type="com.gofun.model.CardOcrCompanyExtend" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="user_ocr_info_id" property="userOcrInfoId" jdbcType="VARCHAR" />
    <result column="cardImg_id" property="cardImgId" jdbcType="VARCHAR" />
    <result column="cardImg_sex" property="cardImgSex" jdbcType="VARCHAR" />
    <result column="cardImg_name" property="cardImgName" jdbcType="VARCHAR" />
    <result column="cardImg_birthday" property="cardImgBirthday" jdbcType="VARCHAR" />
    <result column="cardImg_nation" property="cardImgNation" jdbcType="VARCHAR" />
    <result column="card_addr" property="cardAddr" jdbcType="VARCHAR" />
    <result column="card_validate_date" property="cardValidateDate" jdbcType="VARCHAR" />
    <result column="card_issue_authority" property="cardIssueAuthority" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap" >
    select *
    from card_ocr_company_extend
  </select>

  <select id="selectById" resultMap="BaseResultMap" >
    select *
    from card_ocr_company_extend t where t.id = #{id,jdbcType=INTEGER}
  </select>

    <select id="selectByMainId" resultMap="BaseResultMap" >
    select *
    from card_ocr_company_extend t where t.user_ocr_info_id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.gofun.model.CardOcrCompanyExtend" >
    insert into card_ocr_company_extend (
    id,
    user_ocr_info_id,
    cardImg_id,
      cardImg_sex,
      cardImg_name,
      cardImg_birthday,
      cardImg_nation,
      card_addr,
      card_validate_date,
      card_issue_authority,
      company_type )
    values (
             #{id,jdbcType=INTEGER},
             #{userOcrInfoId,jdbcType=INTEGER},
             #{cardImgId,jdbcType=VARCHAR},
             #{cardImgSex,jdbcType=VARCHAR},
             #{cardImgName,jdbcType=VARCHAR},
             #{cardImgBirthday,jdbcType=VARCHAR},
             #{cardImgNation,jdbcType=VARCHAR},
             #{cardAddr,jdbcType=VARCHAR},
             #{cardValidateDate,jdbcType=VARCHAR}
             #{cardIssueAuthority,jdbcType=VARCHAR}
             #{companyType,jdbcType=VARCHAR}
      )
  </insert>
</mapper>